body {
    overflow: hidden;
}

/* Video Feed Styling */
#overlay {
    z-index: 1;
}

/* Calibration button styling */
.Calibration{
    width: 20px;
    height: 20px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    background-color: magenta;
    opacity: 0.2;
    border: none;
    position:fixed;
}

/* Calibration point position */
#Pt1{
    top: 2vh;
    left:2vw;
}
#Pt2{
    top: 2vh;
    left:50vw;
}
#Pt3{
    top: 2vh;
    right:2vw;
}
#Pt4{
    top:50vh;
    left:2vw;
}
#Pt5{
    top: 50vh;
    left: 50vw;
    width:2.5em;
    height:2.5em;
}
#Pt6{
    top: 50vh;
    right:2vw;
}
#Pt7{
    bottom:2vw;
    left: 2vw;
}
#Pt8{
    bottom:2vw;
    left:50vw;
}
#Pt9{
    bottom:2vw;
    right:2vw;
}